body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.navbar{
  font-family: 'Ubuntu', sans-serif;
}
.logo-name{
  font-size: 2rem;
}
.nav-link{
  margin-left: 30px;
}
.container-fluid{
  padding: 7% 15%;
}
#features .container-fluid{
  padding: 3% 15% 7%;
}
.colored-section{
  color: black;
}
.white-section{
  color: white;
}
/**** Intro Contents ****/
.main-color{
  background-color: #1C2431;
}
.intro-container{
  margin: 5px;
  color: white;
}
.intro-content{
  text-align: left;
  margin-top: 80px;
  font-size: 3rem;
  font-weight: 900;
}
.intro-speech{
  text-align: justify;
}
.download-buttons-container{
  text-align: left;
}
.download-button{
  margin: 2px;
}
.car-pic{
  margin: auto;
  width: 100%;
}
/* Promises Section */
.pr-img{
  width: 40%;
}
.promise{
  font-weight: bold;
  margin-top: 30px;
}
.promise-description{
  font-size: 1rem;
  color: #8f8f8f;
}


/* Testimonial Section */
#testimonials{
  background-color: #145374;
}
.testimonial{
  font-size: 3rem;
  font-weight: bold;
  line-height: 2;
}
.testimonial-img{
  margin: 10px;
  border-radius: 100%;
  width: 10%;
}
.address{
  font-family: "Ubuntu";
}
.carousel-item{
  padding: 7% 14%;
}
/* Press section */
#press{
  background-color: #145374;
  padding-bottom: 30px;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/* Pricing Section */
.pricing-column h2, h3{
  font-weight: bold;
}
.price-package{
  font-size: 1.5rem;
}
.price{
  font-size: 2rem;
}
/* CAT Section */
#cat{
  background-color:
}
#cat h3{
  font-size: 3rem;
}
/* Footer Section */
.soc-med-icon{
  margin: 1%;
}
/* Media Query */
@media (max-width: 1020px)  {
  .navbar{
    text-align: right;
  }
  #features{
    text-align: center;
  }
}
